
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  scroll-behavior: smooth;
  scroll-padding-top: 120px; 
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
  background-color: #2a3b55;
  color: rgb(165, 172, 135);
  padding: 3px;
}

header img {
  height: 60px;
  width: auto;
}

header h1 {
  border-bottom: 2px solid #8d8989;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

nav ul {
  display: flex;
  justify-content: left;
  list-style: none;
  gap: 20px;
  margin-top: 10px;
}

nav a {
  color: rgb(189, 185, 185);
  text-decoration: none;
}


main {
  background-color: rgb(55, 65, 64);
  color: #bdbe63;
  font-weight: bold;
  padding: 120px 20px 20px; 
  flex-grow: 1;
}


section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h2 {
  margin-bottom: 20px;
  text-align: center;
}


.div-imagens {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.div-imagens .item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.div-imagens .item:nth-child(2) {
  justify-content: center;
  align-items: center;
}


section img {
  width: 100%;
  max-width: 280px;
  height: auto;
  aspect-ratio: 9 / 12; 
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  margin-bottom: 15px;
}

section img:hover {
  transform: scale(1.05);
}


footer {
  text-align: center;
  background-color: rgb(55, 65, 64);
  color: white;
  padding: 10px;
}

footer a {
  color: #bdbe63;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin-top: 10px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .div-imagens {
    flex-direction: column;
    align-items: center;
  }

  .div-imagens .item {
    width: 80%;
  }

  section img {
    max-width: 100%;
  }
}

@media (max-width: 375px) {
  .div-imagens .item {
    width: 100%;
  }

  section img {
    width: 150px;
    height: 225px;
  }

  header h1 {
    font-size: 18px;
  }

  nav a {
    font-size: 14px;
  }

  section h2 {
    font-size: 18px;
  }

  footer p {
    font-size: 12px;
  }
}
