* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;  
  word-spacing: normal;  
  background-color: #f4f4f4;
}

header {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #2a3b55;
  color: rgb(165, 172, 135);
  padding: 20px;
}

header img {
  height: 60px;
  width: auto;
}

header h1 {
  border-bottom: 2px solid #8d8989;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-top: 10px;
  padding: 0;
}

nav a {
  color: rgb(189, 185, 185);
  text-decoration: none;
}

main {
  background-color: rgb(55, 65, 64);
  color: #bdbe63;
  font-weight: bold;
  padding: 20px;
  flex-grow: 1;  /* O conteúdo principal irá ocupar o restante da altura */
}

section h2 {
  margin-bottom: 10px; 
  text-align: center;
}

section {
  background-color: rgb(55, 65, 64);
  padding: 40px 20px;
}

#sessao\ 2::before {
  content: "";
  display: block;
  width: 100%;
  background-color: #8d8989;
  margin-bottom: 40px;
}

.galeria-imagens {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center; 
  padding: 20px;
}

section img {
  width: 250px;  
  height: 375px; 
  object-fit: cover; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  margin-bottom: 15px;
}

section img:hover {
  transform: scale(1.05); /* Efeito de zoom quando o mouse passa por cima */
}

@media (max-width: 768px) {
  section img {
    width: 200px; /* Ajuste do tamanho em telas menores */
    height: 300px; /* Ajuste da altura */
  }
}

@media (max-width: 375px) {
  section img {
    width: 150px;  /* Ajusta as imagens para 150px de largura em telas pequenas */
    height: 225px; /* Ajusta a altura para 225px em telas pequenas */
  }
}

.galeria-imagens p {
  max-width: 300px;  
  line-height: 1.4;
  margin: 0;
}

footer {
  text-align: center;
  background-color: rgb(55, 65, 64);
  color: white;
  padding: 10px;
}

footer a {
  color: #bdbe63;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer:before {
  content: "";
  display: block;
  width: 100%;
  background-color: #8d8989;
  margin-bottom: 0px;
}

footer p {
  margin-top: 10px;
  font-size: 14px;
}
